@font-face {
  font-family: "iconfont"; /* Project id 4148646 */
  src: url('//at.alicdn.com/t/c/font_4148646_bb4g7v0n7v7.woff2?t=1688375743402') format('woff2'),
       url('//at.alicdn.com/t/c/font_4148646_bb4g7v0n7v7.woff?t=1688375743402') format('woff'),
       url('//at.alicdn.com/t/c/font_4148646_bb4g7v0n7v7.ttf?t=1688375743402') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coding:before {
  content: "\e64c";
}

.icon-life:before {
  content: "\e627";
}

.icon-tag:before {
  content: "\e653";
}

.icon-person:before {
  content: "\e63a";
}

.icon-archive:before {
  content: "\eb4d";
}

.icon-music:before {
  content: "\e7c1";
}
