@font-face {
  font-family: "iconfont"; /* Project id 4148646 */
  src: url('//at.alicdn.com/t/c/font_4148646_r5782wuawno.woff2?t=1688391839150') format('woff2'),
       url('//at.alicdn.com/t/c/font_4148646_r5782wuawno.woff?t=1688391839150') format('woff'),
       url('//at.alicdn.com/t/c/font_4148646_r5782wuawno.ttf?t=1688391839150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "\e739";
}

.icon-twitter:before {
  content: "\e743";
}

.icon-yinyong:before {
  content: "\e839";
}

.icon-menu:before {
  content: "\e677";
}

.icon-weibo:before {
  content: "\ea8c";
}

.icon-github-fill:before {
  content: "\eac8";
}

.icon-close:before {
  content: "\e6a7";
}

.icon-coding:before {
  content: "\e64c";
}

.icon-life:before {
  content: "\e627";
}

.icon-tag:before {
  content: "\e653";
}

.icon-person:before {
  content: "\e63a";
}

.icon-archive:before {
  content: "\eb4d";
}

.icon-music:before {
  content: "\e7c1";
}
