@media screen and (max-width: 1000px) {
  .css-main {
    display: block;
    width: 100%;
  }
  .css-post {
    margin: auto;
    margin-top: 45px;
    padding: 15px;
    width: 100%;
  }
  .css-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    background-color: var(--backgroundColor2);
    z-index: 9;
    a {
      height: 100%;
      width: 20%;
      word-break: normal !important;
      padding-left: 1rem;
      .logo-mobile {
        display: inline;
        font-size: 1rem;
        font-weight: bold;
        color: #e8fa7f;
      }
      .logo {
        display: none;
      }
    }
    .page-description {
      display: none;
    }
    .page-name {
      display: inline;
      margin-left: 1em;
      color: #046f3b;
    }
    .menu-button {
      display: block;
      position: inherit;
      top: 0;
      cursor: pointer;
      user-select: none;
      .iconfont {
        font-size: 30px;
      }
    }
  }
  .css-aside {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: -100%;
    padding: 50px 0px 0;
    width: 15rem;
    background-color: var(--backgroundColor2);
    transition: all 0.6s ease-in-out;
    overflow-y: auto;
  }

  .open {
    left: 0;
  }
  .link-card-wrapper {
    width: 100%;
  }
}
